<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inscription</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{url_for('static',filename='/images/icons/favicon.ico')}}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static',filename='/vendor/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static',filename='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static',filename='/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/vendor/animate/animate.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static',filename='/vendor/css-hamburgers/hamburgers.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static',filename='/vendor/animsition/css/animsition.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/vendor/select2/select2.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static',filename='/vendor/daterangepicker/daterangepicker.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/css/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/css/main.css')}}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="login100-form-title" style="background-color:black;">
					<span class="login100-form-title-1">
						S'inscrire
					</span>
            </div>
            <form name="f" class="login100-form validate-form" method="POST"
                  action="{{url_for('Auth API.inscription')}}">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Nom est obligatoire">
                    <span class="label-input100">Nom</span>
                    <input class="input100" type="text" name="name" placeholder="Entrer Nom" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="Prenom est obligatoire">
                    <span class="label-input100">Prénom</span>
                    <input class="input100" type="text" name="lastname" placeholder="Entrer Prenom" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="Mail est obligatoire">
                    <span class="label-input100">Mail</span>
                    <input class="input100" type="text" name="mail" placeholder="Entrer Mail" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="Mot de passe est obligatoire">
                    <span class="label-input100">Mot de passe</span>
                    <input class="input100" type="password" name="password" placeholder="Entrer Mot de passe" required>
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Detecter Visage et Sauvgarder
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script src="{{url_for('static',filename='/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
<script src="{{url_for('static',filename='/vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
<script src="{{url_for('static',filename='/vendor/bootstrap/js/popper.js')}}"></script>
<script src="{{url_for('static',filename='/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
<script src="{{url_for('static',filename='/vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
<script src="{{url_for('static',filename='/vendor/daterangepicker/moment.min.js')}}"></script>
<script src="{{url_for('static',filename='/vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
<script src="{{url_for('static',filename='/vendor/countdowntime/countdowntime.js')}}"></script>
<!--===============================================================================================-->
<script src="{{url_for('static',filename='/js/main.js')}}"></script>
</body>
</html>